%article
	%header
		%h1
			= article.title
		%time{:datetime => article.created_at.strftime("%Y-%m-%d")}= "Created #{article.created_at.strftime("%d. %B %Y %H:%I")}."
		- if (article.updated_at > article.created_at)
			%time{:datetime => article.updated_at.strftime("%Y-%m-%d")}= "Updated #{article.updated_at.strftime("%d. %B %Y %H:%I")}."
		%span.grey.right
			= link_to article.user.name, article.user
	%section
		%p
			= article.content
		- if permitted_to? :manage, :articles
			%p
				= link_to "Edit", edit_article_path(article)
				= link_to "Delete", article, :confirm => "Are you sure?", :method => :delete
				=# link_to "Back", articles_path