%h1=@user.name.capitalize

-if @user.exercises.any?
	Her ligger det #{@user.exercises.size} ovinger.
	%table
		%th Navn
		%th Antall
		%th Skapt
		%th Timer
		%th Dager
		%th Levert
		%th Ferdig
		-@user.exercises.each do |ex|
			%tr
				%td= ex.name.capitalize
				%td= ex.antall
				%td= ex.created_at
				%td= ex.date.hour
				%td= ex.date.day
				%td= ex.levert
				%td= ex.ferdig
	

-else
	There doesn't seem to be anything here...
%h2 Legge til øvinger?

=render 'exercises/exercise_form'
