- @objects.each do |object|
	- if object.is_a?(Image)
		= render :partial => 'images/only_image', :locals => {:image => object}
	- elsif object.is_a?(Article)
		= render object

%article
	%section
		- if permitted_to? :create, :articles
			%p 
				= link_to "Add article", new_article_path
		- if permitted_to? :create, :images
			%p
				= link_to "Add image", new_image_path
		%p
			= link_to 'All articles', articles_path

/- @objects.each do |object|
/	- if object.is_a?(Image)
/		= render object
/	- if object.is_a?(Article)
/		= render object
/	- if object.is_a?(Link)
/		= render object
