%article
	%header
		%h1= "Nr. #{link.id}"
	%section
		%h2 From
		%section
			%p
				= "http://tidla.us/#{link.longurl}"
		%h2 To
		%section
			%p
				= "http://#{link.shorturl}"
		%h2 Details
		%section
			%p= "Generated #{link.created_at.strftime("%d. %B %Y")}"
			%p= "Visited #{link.views} times."
		- if permitted_to? :manage, :links
			%p
				/= link_to "Edit", edit_link_path(@link)
				= link_to "Delete", link, :confirm => "Are you sure?", :method => :delete
		%p
			= link_to "Back", links_path