%article
  %header
    %h1
      Rules
  %section
    %p
      All challenges are a race to reach p15 room 411 before the time limit.
    %p
      The time listed is the last acceptable show time ( on the second ).

  %section
    - if @timechallenges.size > 0 
      %table
        %thead
          %tr
            %td
              %h2 Title
            %td
              %h2 Reward
            %td
              %h2 Deadline
            %td
              %h2 Show deadline
        %tbody
          - @timechallenges.each do |t|
            %tr
              %td
                = link_to t.title, t
                %br
                %i= t.users.size.to_s + " attending"
              %td
                = t.reward
              %td
                - if (Time.zone.now - t.deadline) < 0
                  = l t.deadline, format: :formtastic
                  %br
                  %i= distance_of_time_in_words_to_now(t.deadline) + " from now"
                - else
                  = distance_of_time_in_words_to_now(t.deadline) + " ago"
              %td
                - if (Time.zone.now - t.show_deadline) < 0
                  = l t.show_deadline, format: :formtastic
                  %br
                  %i= distance_of_time_in_words_to_now(t.show_deadline) + " from now"
                - else
                  = distance_of_time_in_words_to_now(t.show_deadline) + " ago"
    - else 
      %p No active challenges. How sad :(

  %section
    - if permitted_to? :manage, :timechallenges
      %p= link_to "new timechallenge", new_timechallenge_path
