%article
  %header
    %h1
      Tidsutfordringer
  %section
    - if @timechallenges.size > 0 
      %table
        %thead
          %tr
            %td
              %h2 Tittel
            %td
              %h2 Premie
            %td
              %h2 Påmeldingsfrist
            %td
              %h2 Oppmøtefrist
        %tbody
          - @timechallenges.each do |t|
            %tr
              %td
                = link_to t.title, t
                %br
                %i= t.users.size.to_s + " attending"
              %td
                = t.reward
              %td
                - if (Time.zone.now - t.deadline) < 0
                  = l t.deadline, format: :formtastic
                  %br
                  %i= distance_of_time_in_words_to_now(t.deadline) + " from now"
                - else
                  = distance_of_time_in_words_to_now(t.deadline) + " ago"
              %td
                - if (Time.zone.now - t.show_deadline) < 0
                  = l t.show_deadline, format: :formtastic
                  %br
                  %i= distance_of_time_in_words_to_now(t.show_deadline) + " from now"
                - else
                  = distance_of_time_in_words_to_now(t.show_deadline) + " ago"
    - else 
      %p No active challenges. How sad :(
  %header
    %h1
      Rules
  %section
    = render 'rules'

  %section
    - if permitted_to? :manage, :timechallenges
      %p= link_to "new timechallenge", new_timechallenge_path
