%article
  %header
    %h1 New Timechallenge
  %section
    = semantic_form_for @timechallenge do |f|
      = f.input :title
      = f.input :reward
      = f.input :deadline, as: :string, input_html: { class: "datetime_select", value: Time.now.change( hour:0, min:0 ) + 1.day }
      = f.input :show_deadline, as: :string, input_html: { class: "datetime_select", value: Time.now.change( hour:9, min:15 ) + 1.day }
      = f.actions :submit
