%article
  %header
    %h1= @timechallenge.title.capitalize
  %section
    %p
      = "You can enroll in this timechallenge untill #{l @timechallenge.deadline, format: :formtastic} (#{distance_of_time_in_words_to_now(@timechallenge.deadline) + ((Time.zone.now-@timechallenge.deadline > 0)? ' ago' : '' )}) "
    %p Show deadline is at #{@timechallenge.show_deadline} (#{distance_of_time_in_words_to_now(@timechallenge.show_deadline) + ((Time.zone.now-@timechallenge.deadline > 0)? ' ago'     : '' )})
  %section
    - if @timechallenge.attending.size > 0 
      %table
        %thead
          %tr
            %td
            %td
              %h2 Name
            %td
              %h2 OAuth
            %td
              %h2 Attended at
            %td
              %h2 Status
            - if ( permitted_to? :manage, :attendings )
              %td
                %h2 Action
        %tbody
          - @timechallenge.attending.each do |a|
            %tr
              %td= image_tag avatar_url(a.user)
              %td= a.user.name
              %td= a.user.provider
              %td= l a.created_at, format: :formtastic
              %td
                = form_for([@timechallenge, a], remote: true) do |f|
                  = f.select :status, options_from_collection_for_select(@statuses, "id", "status", selected: (a.status && a.status.id || 0)), { include_blank: true, disabled: ((Time.zone.now >= @timechallenge.show_deadline)? true  : true ) }
                  %div{style: "display:none"}
                    = f.submit
              - if ( permitted_to? :manage, :attendings ) && ( current_user == a.user )
                %td= link_to "Unattend", timechallenge_attending_path(@timechallenge, a.user.id), method: :delete, data: { confirm: "Unattend this timechallenge?" }

  %section 
    - if ( permitted_to? :manage, :attendings ) && ( !current_user.timechallenges.include? @timechallenge )
      = link_to "Attend", timechallenge_attendings_path(@timechallenge), method: :post, data: { confirm: "Attend this timechallenge?" }
    - if permitted_to? :manage, :timechallenges
      = link_to "Destroy this timechallenge", timechallenge_path(@timechallenge), method: :delete, data: { confirm: "Are you sure Youu want to destroy this challenge?"}
    = link_to "Back", timechallenges_path
