%article
	%header
		%h1= @role.title
	%section
		%p
			= link_to "delete role", @role, :confirm => "Sure?", :method => :delete
	%header
		%h1= "Users in #{@role.title}"
	%section
		- @role.users && @role.users.each do |user|
			%p
				= user.name
				= link_to "show", user
				= link_to "remove", deauthorize_path(@role, user_id: user.id), :method => :delete, :confirm => "Sure?"
	%header
		%h1= "Add users to #{@role.title}"
	%section
		%p
			= form_tag authorize_path(@role), :method => :post do
				= label_tag "user_autocomplete", "User"
				= text_field_tag "user_id", nil, :id => "user_autocomplete"
				= submit_tag 'Add User'
		%p
			= link_to "back", roles_path

- javascript("autocomplete")
