<header id="menu">
    <nav>
        <ul>

            <li><%= link_to "Heim", root_path %></li>
            <li><%= link_to "Om", about_path %></li>
            <li><%= link_to "Magi", magi_path %></li>

            <% if session[:login] %>
            	<li id="login"> <%= link_to "Logout", signout_path %> </li>
            <% else %>
            	<li id="login"> <%= link_to "Login", signin_path %></li>
        	<% end %>

        </ul>
    </nav>
</header>

