%header.container
	.row
		%h1#title TIDLAUS
		%nav
			= link_to "Heim", root_path, active_page_class(root_path)
			= link_to "Demos", demos_path, active_page_class(demos_path)
			= link_to "Chat", chat_path, active_page_class(chat_path)
			= link_to "Articles", articles_path, active_controller_class('articles')
			= link_to "Gallery", images_path, active_controller_class('images')
			= link_to "Longurl", new_link_path, active_controller_class('links')
			%span.login
				- if logged_in
					- if current_user.role_symbols.include?(:admin)
						= link_to "admin", roles_path, active_page_class(roles_path)
					= link_to  current_user.name, current_user,active_page_class(current_user)
					= link_to "Log out", logout_path, :method => :post
				- else
					= link_to "Log in", login_path, active_page_class(login_path)
					= link_to "Join", new_user_path, active_page_class(new_user_path)
