.container.header
	.row
		.twelvecol.last
			%h1 Velkommen til tidlaus!
			%nav
				= link_to "Heim", root_path, active_page_class(root_path)
				= link_to "Om", about_path, active_page_class(root_path)
				= link_to "Magi", magi_path, active_page_class(root_path)
				= link_to "Chat", chat_path, active_page_class(root_path)
				= link_to "Url lengthener", new_link_path, active_controller_class('links')