<!DOCTYPE html>
<html>
    <head>
        <title> Halla, velkommen til Tidlaus! | <%=  @title %></title>
          <%= stylesheet_link_tag    "application", :media => "all" %>
          <%= javascript_include_tag "application" %>
          <%= csrf_meta_tags %>
          <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    </head>
    <body>
        <% headercss = "menu" %>
        <%= render 'layouts/header' %>
        <div class = "container">
          <section>
             <%= yield %>
          </section>
          <%= render 'layouts/footer' %>
        </div>
    </body>
</html>
