!!!!! 5
%html
  %head
    %title #{@title} | Tidlaus
    = csrf_meta_tags
    = stylesheet_link_tag 'tidlaus'
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1"}
    %body
      =render 'layouts/header'
      - unless flash.empty?
        - javascript("hide_flash")
        .container
          .row
            -flash.each do |key, value|
              .flash{:class => key}
                =value
      .container
        .row
          -if content_for?(:sidebar)
            .onecol
            .sevencol
              =yield
            .fourcol.last
              =yield :sidebar
          -else
            .onecol.hide
            .tencol
              =yield
            .onecol.last.hide
      =# render 'layouts/footer'
    = yield :tail
