!!!!! 5
%html
  %head
    %title #{@title} | Tidlaus
    = csrf_meta_tags
    = stylesheet_link_tag 'tidlaus'
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1"}
    %body
      =render 'layouts/header'
      - unless flash.empty?
        .container.flashcontainer
          .row
            .twelvecol.last
              -flash.each do |key, value|
                .flash{:class => key}
                  =value
      .container
        .row
          .onecol
          .tencol
            =yield
          .onecol.last
      = render 'layouts/footer'
